.create{
    border:1px solid black;
    width:90%;
    height:100vh; 
    margin:0 auto;
    position:relative;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    
 
}
.create__h1{
    text-align:center;
    font-size:2rem;
    
}
.create__h1::first-letter{
    font-size:4rem;
  color:darkblue;
  
}
.imgChoice{
    width:35%;
    height:40%;
  
    border:1px solid black;
    margin:0 auto;
    display:flex;
    justify-content: center;
    background-color:darken(skyblue,10%);
    border-width:10px;
    
}
.inputy{

    display:flex;
    justify-content: center;
  
}
.label{
    text-indent: 2%;
    font-size:.7rem;
}
.input{
    align-self: flex-start;
    width:200%;
    background-color: yellowgreen;
    color:red;
    height:30%;
    margin-bottom:40%;
    
}
.img{
    height:100%;
    width:80%;
}
.postac{
  
}
.switch{
    margin-top:3%;
 
    display:flex;
    justify-content: center;
    min-height:8%;
    
}
.switch button{
background-color: green;
width:40%;
height:100%;
border:none;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 20px;
border-style:groove;
z-index:1;
position:relative;
}
.btngraj2{
    position:absolute;;
    bottom:0px;
    width:100%;
    height:10%;
    font-size:5rem;
    letter-spacing: 20px;
    
    border-top-color: turquoise;
    border-bottom:none;
    border-left:none;
    border-right:none;
    
}
.drzewo{
    width:30%;
    height:100%;
    position:relative;
    top:-60%;
    z-index:0;
    left:5%;
}
.chmura{
    width:15%;
    height:15%;
    position:absolute;
    z-index:-2;
    animation:chmura 20s  ease-in-out forwards
}
@keyframes chmura{
    0%{
        transform:translateX(0%)
    }
    30%{
        transform:translate(200%,40%)
    }
    100%{
        transform:translateX(700%)
    }
}