.gameover{
    background-color: darkcyan;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.napisy{
  
    width:800px;
    height:800px;
    overflow:hidden;
   

}
.content{
    animation:play 30s forwards linear;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.napisy h1{
    font-size:3rem;
    text-align:center;
    color:darken(orange,10%);
    -webkit-text-stroke:1px red;
}
p{
    font-size:4rem;
    text-align:center;

}
@keyframes play{
    0%{transform:translateY(0px)}
    100%{transform:translateY(-1000px)}
}
.over{
    font-size:10rem;
    font-weight: bold;
    -webkit-text-stroke:3px red;
    
}
.btnStartAgain{
    width:300px;
    height:80px;
    border:none;
    border-radius:70px;
    font-size:300%;
    -webkit-text-stroke:1px darkblue;
    color:yellow;
    background-color: lighten(orange,10%);
}