// .routes{

// }
// .routesActive{
//     height:100vh;
//     width:100%;
//     max-width:1000px;
//     border:10px solid darkblue;
// }
// .home{
//     border:1px solid black;
//     width:90%;
//     height:100vh; 
//     margin:0 auto;
//     position:relative;
//     overflow:hidden;
//     background-color: lighten(brown,30%);
 
// }
// .homeactive{
//     transition:4s;
//     background-color:orange;
//     filter:blur(10px) brightness(1) sepia(1);
//     opacity:.5;
   
// }
// /*Logo*/
// .logo{
//     height:20%;
//     width:100%;
//     border:20px solid blue;
//     position:relative;
//     display:flex;
//     justify-content: center;
//     background-color: lighten(yellow,40%);
   
    
// }
// .hjeden{
// font-size:960%;
// position:absolute;
// color:transparent;
// // -webkit-text-stroke:2px red;
// background-image: url("../img/logo.jpg");
// background-clip: text;

// background-position-y: bottom;


// }
// .hdwa{
//     font-size:960%;
//     position:absolute;
//     color:transparent;
//     background-image: url("../img/ogien.png");
// background-clip: text;
// background-size: contain;
// animation:textLogo 5s infinite linear alternate-reverse
// }
// @keyframes textLogo{
//     0%{clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
//     100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
// }
// /*.................................................................*/
// .dialog{
//     height:70%;
//     width:100%;
//     border:1px solid red;
//     position:relative
// }
// .rozmowa{
//     width:50%;
//     height:40%;
//     border:1px solid red;
//     position:relative;
//     left:15%;
//     top:20%;
//     font-size:2.5rem;
//     font-family: 'sans-serif';
//     font-weight:bold;
// }
// .straznik{
//     width:30%;
//     height:90%;
//     position:relative;
//     bottom:40%;
//     left:70%;
    
// }
// .bottom{
//     height:10%;
//     width:100%;
//     position:relative;
//     border:10px solid orange;
//     border-left-color: cyan;
//     border-right-color: cyan;
//     border-top-color: lighten(red,10%);
//     border-bottom-color: lighten(red,10%);
// }
// .btnGraj{
//     width:100%;
//     height:100%;
//     border:none;
//     font-size:4rem;
//     font-weight:bold;
//     background-color: lighten(blue,20%);
//     -webkit-text-stroke:3px red;
// }
@include media(first){
    .body{
        background-image: url("../img/las.jpg");
    }
.home{
    
    width:100%;
    height:100vh; 
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background-color: lighten(brown,30%);
    
}
.homeactive{
    transition:4s;
    background-color:orange;
    filter:blur(10px) brightness(1) sepia(1);
    opacity:.5;
   
}
/*Logo*/
.logo{
    height:15%;
    width:100%;
   border-right:1px solid black;
   border-left:1px solid black;
    position:relative;
    display:flex;
    justify-content: center;
    background-color: lighten(yellow,40%);
   
    
}
.hjeden{
font-size:760%;
position:absolute;
color:transparent;
// -webkit-text-stroke:2px red;
background-image: url("../img/logo.jpg");
background-clip: text;

background-position-y: bottom;


}
.hdwa{
    font-size:760%;
    position:absolute;
    color:transparent;
    background-image: url("../img/ogien.png");
background-clip: text;
background-size: contain;
animation:textLogo 5s infinite linear alternate-reverse
}
@keyframes textLogo{
    0%{clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}
/*.................................................................*/
.dialog{
    height:70%;
    width:100%;
  
    position:relative
}
.rozmowa{
    width:40%;
    height:50%;
border:3px double red;
    position:relative;
    left:5%;
    top:20%;
    font-size:1.5rem;
    font-family: 'sans-serif';
    font-weight:bold;
}
.straznik{
    width:50%;
    height:90%;
    position:relative;
    bottom:70%;
    left:55%;
    
}
.bottom{
    height:10%;
    width:100%;
    position:relative;
    border:10px solid orange;
    border-left-color: cyan;
    border-right-color: cyan;
    border-top-color: lighten(red,10%);
    border-bottom-color: lighten(red,10%);
    top:5%;
}
.btnGraj{
    width:100%;
    height:100%;
    border:none;
    font-size:4rem;
    font-weight:bold;
    background-color: lighten(blue,20%);
    -webkit-text-stroke:3px red;
}

}